@tailwind base;
@tailwind components;
@tailwind utilities;

thead {
  /* background: lightgray; */
  margin: 0;
  position: sticky;
  top: 0;
}

td:last-child{
  align-items: end;
  text-align: right;
  /* place-content: var(); */
}